.nav {
    font-family: 'Poppins',
    sans-serif;

    margin-top: 20px;
    .flex();
    justify-content: space-around;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .sign {
    
        .login {
            border: 2px solid @main-color;
            margin-right:-5px;
        }

        .join{
            border: 2px solid @main-color;
            background: @main-color;
        }
    }


}